<section class="py-5">
    <h2 class="text-xl font-medium py-5">Recent Activity</h2>
    <table class="w-full text-left table-collapse">
        <thead>
        <tr>
            <th class="px-4 mb-2">Date</th>
            <th class="px-4 ">Activity</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="border px-4 ">01/01/2022</td>
            <td class="border px-4 ">Created new account</td>
        </tr>
        <tr>
            <td class="border px-4 ">01/05/2022</td>
            <td class="border px-4 ">Modified account settings</td>
        </tr>
        <tr>
            <td class="border px-4 ">01/15/2022</td>
            <td class="border px-4 ">Generated report</td>
        </tr>
        </tbody>
    </table>
</section>
<app-dashboard-cards></app-dashboard-cards>
<app-dashboard-report></app-dashboard-report>
