<section class="">
    <h2 class="text-xl font-medium ">Actions</h2>
    <div class="flex py-6 gap-5">
        <button [ngClass]="{'border border-zinc-500': path === '/create-class'}" (click)="dirTo('create-class')" class="w-1/3 px-4 py-3 bg-zinc-900 rounded-lg text-center flex flex-col items-center text-white hover:shadow-sm hover:shadow-zinc-500 active:shadow-zinc-700 cursor-pointer">
            <img src="assets/images/create_icon.png" alt="create_icon" class="w-10">
            <p class="text-lg">Create new class</p>
        </button>
        <button [ngClass]="{'border border-zinc-500': path === '/create-assignment'}" (click)="dirTo('create-assignment')" class="w-1/3 px-4 py-3 bg-zinc-900 rounded-lg text-center flex flex-col items-center text-white hover:shadow-sm hover:shadow-zinc-500 active:shadow-zinc-700 cursor-pointer">
            <img src="assets/images/assignment_icon.png" alt="create_icon" class="w-10">
            <p class="text-lg">Add new assignment</p>
        </button>
        <button class="w-1/3 px-4 py-3 bg-zinc-900 rounded-lg text-center flex flex-col items-center text-white hover:shadow-sm hover:shadow-zinc-500 active:shadow-zinc-700 cursor-pointer">
            <img src="assets/images/grade_icon.png" alt="create_icon" class="w-10">
            <p class="text-lg">Grade assignments</p>
        </button>
    </div>
    <!-- <div class="bg-zinc-800 rounded-lg p-4 flex gap-4 ">
        <div class="w-1/3 px-4  bg-zinc-900 rounded-lg">
            <h3 class="text-lg font-medium ">Report 1</h3>
            <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna a bibendum bibendum, magna quam bibendum magna, a bibendum magna quam bibendum magna quam bibendum magna quam bibendum magna quam bibendum magna.</p>
        </div>
        <div class="w-1/3 px-4  bg-zinc-900 rounded-lg">
            <h3 class="text-lg font-medium ">Report 2</h3>
            <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna a bibendum bibendum, magna quam bibendum magna, a bibendum magna quam bibendum magna quam bibendum magna quam bibendum magna quam bibendum magna.</p>
        </div>
        <div class="w-1/3 px-4  bg-zinc-900 rounded-lg">
            <h3 class="text-lg font-medium ">Report 3</h3>
            <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna a bibendum bibendum, magna quam bibendum magna, a bibendum magna quam bibendum magna quam bibendum magna quam bibendum magna quam bibendum magna.</p>
        </div>
    </div> -->
</section>
