<nav class="bg-zinc-900 flex items-center justify-between px-4 py-3">
    <a routerLink="/" class="text-lg font-medium text-slate-100">
        <div class="flex items-center ">
            <img src="/assets/images/logo.png" alt="logo" class="w-[20%]">
            <p>Fast Class</p>
        </div>
       
    </a>
    <div class="flex items-center">
      <a routerLink="/login" class="px-3 py-2 text-sm font-medium text-gray-100 hover:text-gray-300">Features</a>
      <a href="#" class="px-3 py-2 text-sm font-medium text-gray-100 hover:text-gray-300">Contact</a>
      <a *ngIf="!loggedIn" routerLink="/login" class="px-3 py-2 text-sm font-medium text-gray-100 hover:text-gray-300">Login</a>
      <button *ngIf="loggedIn" (click)="logout()" class="px-3 py-2 text-sm font-medium text-gray-100 hover:text-gray-300">Logout</button>
    </div>
</nav>
