<section class="pb-24 max-md:pb-96">
    <div class="container mx-auto">
      <h2 class="text-4xl font-medium text-slate-100 mb-6 border-b w-fit pr-2 pb-1">Tools</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="bg-slate-500 shadow-sm shadow-slate-700 p-6 rounded-lg flex">
          <img src="/assets/images/chair.png" alt="chair" class="w-[15%]">
          <div class="flex flex-col mt-4">
            <h3 class="text-xl font-medium text-gray-100">Create a class</h3>
            <p class="text-base font-light text-gray-200">Create as many virtual classrooms as you need.</p>
          </div>
        </div>
        <div class="bg-slate-500 shadow-sm shadow-slate-700 px-2 py-6 rounded-lg flex">
            <img src="/assets/images/user.png" alt="chair" class="w-[20%]">
            <div class="flex flex-col mt-4">
                <h3 class="text-xl font-medium text-gray-100">Add participants</h3>
                <p class="text-base font-light text-gray-200">Allow students to have easy access to any class resource they need.</p>
            </div>
        </div>
        <div class="bg-slate-500 shadow-sm shadow-slate-700 px-2 py-6 rounded-lg flex">
            <img src="/assets/images/grade.png" alt="chair" class="w-[18%]">
            <div class="flex flex-col mt-4">
                <h3 class="text-xl font-medium text-gray-100">Scorekeeper</h3>
                <p class="text-base font-light text-gray-200">Enter grades and have dynamic reports displayed based on the outcome for all, a group of students, or one individual.</p>
            </div>
        </div>
        <div class="bg-slate-500 shadow-sm shadow-slate-700 px-1 py-6 rounded-lg flex">
            <img src="/assets/images/chat.png" alt="chair" class="w-[20%]">
            <div class="flex flex-col mt-4">
                <h3 class="text-xl font-medium text-gray-100">Collaboration</h3>
                <p class="text-base font-light text-gray-200">Open a streamline of communication to discuss any questions or concerns between you and the instructor or student.</p>
            </div>
        </div>
      </div> 
    </div>
  </section>

