<footer class="bg-zinc-900 w-full bottom-0 py-6 ">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="text-center">
          <h3 class="text-lg font-medium text-pink-500">Fast Class</h3>
          <p class="text-sm font-light text-gray-200">An application designed to increase productivity in all aspects of education.</p>
        </div>
        <div class="text-center">
          <h3 class="text-lg font-medium text-gray-100">Links</h3>
          <ul class="list-none">
            <li><a href="#" class="text-sm font-medium text-gray-300 hover:text-gray-100">Features</a></li>
            <li><a href="#" class="text-sm font-medium text-gray-300 hover:text-gray-100">Contact</a></li>
            <li><a href="#" class="text-sm font-medium text-gray-300 hover:text-gray-100">Login</a></li>
          </ul>
        </div>
        <div class="text-center">
          <h3 class="text-lg font-medium text-gray-100">Support</h3>
          <ul class="list-none">
            <li><a href="#" class="text-sm font-medium text-gray-300 hover:text-gray-100">FAQs</a></li>
            <li><a href="#" class="text-sm font-medium text-gray-300 hover:text-gray-100">Help</a></li>
            <li><a href="#" class="text-sm font-medium text-gray-300 hover:text-gray-100">Newsletter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
